.brand-con {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

label {
  font-size: 1.4rem;
  margin: 0;
}

.brands-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.brand-filters-con {
  padding: 3.2rem 4.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  margin-bottom: 2.4rem;
}
