.orders-history-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 4.8rem;

}

.history-table-con {
  min-width: 100rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2.8rem 5.4rem;
}

h1 {
  align-self: flex-start;
  margin-bottom: 2.4rem;
}

tr, td {
  font-size: 1.4rem;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.space-between {
  justify-content: space-between;
}

button {
  font-size: 1.6rem;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  /*background-color: #333333 !important;*/
  color: #333 !important;
  font-size: 1.8rem;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #333333 !important;
  border: solid #333 1px !important;
  color: #fff;
  font-size: 1.8rem;
}
