.con {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3.8rem;
}

.form-con {
  width: 90%;
  max-width: 70rem;
}

.form-control, option, select {
  font-size: 1.6rem;
  padding: 2.4rem 1.2rem;
}

option {
  padding: 0.8rem 1.2rem;
}

select {
  padding: 0rem !important;
  height: 5rem !important;
  padding-left: 1.2rem !important;
}

.add-basket-btn {
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
}

.form-group, .form-row {
  margin-bottom: 2.8rem;
}
label {
  font-size: 1.6rem;
}

h1 {
  margin-bottom: 2.8rem;
}

.flex {
  display: flex;
}

p {
  font-size: 1.3rem;
}


